@font-face {
    font-family: 'niccone'; /* Choose a unique name for your font */
    src: url('assets/fonts/Niconne/Niconne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'caveat'; /* Choose a unique name for your font */
    src: url('assets/fonts/Caveat/Caveat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'cookie'; /* Choose a unique name for your font */
    src: url('assets/fonts/Cookie/Cookie-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins'; /* Choose a unique name for your font */
    src: url('assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}


@font-face {
    font-family: 'marmelad'; /* Choose a unique name for your font */
    src: url('assets/fonts/Marmelad/Marmelad-Regular.ttf') format('truetype'); /* Specify the path to your .ttf font file */
}

@font-face {
    font-family: 'marck script';
    src: url('assets/fonts/Marck_Script/MarckScript-Regular.ttf');
}
@font-face {
  font-family: 'merienda';
  src: url('assets/fonts/Merienda/Merienda-VariableFont_wght.ttf');
}
      body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        * {
          box-sizing: border-box;
          margin: 0;
        }
        
        h1 {
          margin: 1rem 0;
        }
        
        h2 {
          color: white;
          opacity: 0;
          font-size: 5rem;
          animation: fadeIn 1s cubic-bezier(0, 0, 0.59, 0.73) forwards;
        }
        
        .flex-row {
          font-size: 4rem;
          opacity: 0;
          animation: fadeInText 1s ease forwards 3s;
        }
        
        .intro {
          height: 100vh;
          /* background-color: black; */
          background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(assets/pre_images/IMG_4269.jpg) no-repeat center/cover;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        main {
          position: absolute;
          transform: scale(0, 0);
          animation: animate 1s ease-in forwards 1s;
        }
        
        .content {
          width: 100%;
          text-align: center;
          overflow-y: auto;
        }
        
        @keyframes animate {
          0% {
            transform: scale(0, 0.005);
          }
          50% {
            transform: scaleY(0.005);
          }
          100% {
            transform: scale(1, 1);
          }
        }
        
        @keyframes fadeIn {
          from {
            opacity: 0;
            transform: translateY(50%);
          }
          to {
            opacity: 1;
            transform: translateY(-50%);
          }
        }
        
        @keyframes fadeInText {
          from {
            opacity: 0;
            transform: translateY(50%);
          }
          to {
            opacity: 1;
            transform: translateY(0%);
          }
        }

        .container {
            display: flex;
            flex-direction: column;
        }

        .flex-row {
            background-color: white;
        }

        .video-row {
            background-color: transparent; /* Adjust as needed */
        }

        .poster {
            color: #782f97;
            left: 148px;
            margin-top: -503px;
            text-align: center;
        }

        .dp-col
        {
          width: 55%;
          font-family: merienda;
          color: #c157e5;
          font-size: 60px;
          font-weight: 500;
        }
        .dp-row
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            padding: 50px 0 100px 0;
        }

        .line3{
            font-family: niccone,fantasy;
                padding-top: 535px;
                font-size: 60px;
                font-weight: 500;
                color: #cb2dff;
        }

        .line2{
            color: #5a0076;
                font-size: 80px;
                font-weight: 600;
                font-family: marmelad,sans-serif;
                padding-top: 558px;
        }

        .line4{
            font-family: marck script,cursive;
            padding-top: 560px;
            font-size: 45px;
            font-weight: 500;
            color: #5a0076;
        }

        .line5{
            font-family: marck script,cursive;
            font-size: 55px;
            font-weight: 500;
            color: #cb2dff;
        }

        video {
            width: 100%;
        }

        .button-row {
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .carousel {
            display: flex;
            overflow: hidden;
            width: 100%;
            padding-bottom: 60px;
          }
          
          .carousel img {
            width: 100%;
            height: auto;
            display: none; /* Hide all images initially */
          }
          
          .carousel img:first-child {
            display: block; /* Display the first image */
          }
          
          .weds{
            font-family:marck script,cursive;
            font-weight: bold;
            font-size: 80px;
            padding-left: 20%;
          }

          .events
          {
            margin-top: 123px;
            text-align: center;
            font-family: Marmelad,cursive;
            color: #5A0076;
            font-size: 38px;
            letter-spacing: 10px;
          }

          .hrline
          {
            border-bottom: 3px solid #433d3dfc;
            width: 250px;
            position: absolute;
            left: 102px;
          }

          .shape{
            width: 20px;
            height: 20px;
            background-color: #c33ce1c4;
            transform: rotate(45deg);
            margin-top: -10px;
            position: absolute;
            left: 386px;
          }

        button {
            margin: 5px;
            padding: 10px;
            background-color: #0077FF; /* Adjust as needed */
            color: white;
            border: none;
            cursor: pointer;
            width: 45%; /* To make buttons take up less space on small screens */
        }

        @media screen and (max-width: 768px) {
            .flex-row {
                height: 200px;
            }
        }
